.carousel {
  margin-left: 250px;
  padding-left: var(--carousel-spacing);
  background: #FFF;
  overflow-x: hidden;

  &-content {
    display: grid;
    grid-auto-columns: min-content;
    gap: var(--carousel-spacing);

    > * {
      height: 100%;
      grid-row: 1;
      grid-column: auto;
    }
  }
}
