.date-picker {
  padding: var(--spacing-nm);
  background: var(--color-dark);
  width: min-content;
  margin: auto;
  font-size: 1.5rem;

  &, section {
    display: grid;
    gap: var(--spacing-nm);
  }

  .controls {
    display: grid;
    grid-template-columns: min-content 1fr min-content;
    gap: var(--spacing-nm);
    justify-content: space-between;
    align-items: center;

    .nav {
      border-color: transparent;
      font-size: 1.5em;
      padding: 0;
    }

    .select {
      font-size: 0.8em;
    }
  }

  .month, .week {
    display: grid;
    grid-template-columns: repeat(7, min-content);
    grid-auto-rows: min-content;
    gap: var(--spacing-nm);
    justify-items: center;
    justify-content: space-between;
    color: var(--color-light);

    > button {
      --button-bg: currentColor;
      font-size: 1.5rem;
      padding: var(--spacing-nm);
      width: 100%;
      aspect-ratio: 1 / 1;

      &:not(.selected) {
        border-color: transparent;
      }

      &:hover {
        border-color: currentColor;
      }

      &.offset-days {
        opacity: 0.6;
      }

      &:not(.border) {
        --button-bg: var(--color-accent);
      }
    }
  }

  .week {
    font-weight: bold;
  }
}

.scroll-selector {
  background: var(--color-dark);
  padding-block: var(--spacing-nm);
  width: min-content;
  padding: var(--spacing-nm);
  margin-inline: auto;

  button {
    font-size: 1.2em;
    --button-bg: var(--color-light);

    &.selected {
      --button-bg: var(--color-accent);
      --button-bg-2: var(--color-accent-2);
      --button-fg: var(--color-dark);
    }
  }
}
