.dialog {
  position: relative;
  font: 16px monospace;
  border-radius: var(--spacing-nm);
  box-shadow: 0px 0px 0px var(--radius-nm) #5556;
  overflow: hidden;
  background: #000A;
  color: var(--color-light);
  backdrop-filter: blur(6px);

  width: fit-content;
  max-width: 77vw;

  --content-size: 1fr;
  --transition-duration: 300ms;
  display: grid;
  grid-template-rows: min-content var(--content-size);
  --in-n-out: 0.15s cubic-bezier(0.4, 0, 0.2, 1);
  transition: 
    grid-template-rows var(--transition-duration),
    scale var(--in-n-out),
    translate var(--in-n-out),
    opacity var(--in-n-out);

  --bounce-offset: 0px;

  &:focus, &:has(:focus) {
    z-index: 1;
  }

  &.pop-enter-active, &.pop-leave-active {
    scale: 1.2;
    opacity: 1;
  }

  &.pop-enter-from, &.pop-leave-to {
    scale: 0;
    opacity: 0;
  }

  &.draggable {
    left: var(--x);
    top: var(--y);

    .header {
      cursor: grab;

      &.dragging {
        cursor: grabbing;
      }
    }
  }

  &.center {
    left: 50%;
    top: 50%;
    translate: -50% calc(-50% + var(--bounce-offset));
    transform-origin: center;
  }

  .header {
    padding: var(--radius-nm);
    font-weight: 700;
    display: grid;
    grid-template-columns: 1fr 38px;

    &, & ~ .content {
      box-shadow: 0px 0px 0px 1px #5556;
    }

    .close-btn {
      padding: 0;
      border: 0;
    }
  }

  .content {
    margin: 0;
    padding: 12px;
    overflow: auto;
    max-height: 70vh;
    transition: padding var(--transition-duration);
    outline: 0;
    border: 0;
  }

  &.minimized {
    --content-size: 0fr;

    .content {
      padding-block: 0;
    }
  }
}
