.header {
  position: relative;
  width: 100%;
  padding: var(--spacing-nm);
  display: grid;
  grid-template-columns: repeat(7, auto) 1fr;
  color: var(--color-light);
  align-items: center;
  gap: var(--spacing-nm);

  p {
    font-size: 1rem;
    padding: var(--spacing-nm);
    font-weight: bold;
    color: var(--color-accent);
    margin: 0;
    text-transform: full-width;
  }
}
