ul.tv-show-list {
  display: grid;
  grid-template-columns: 1fr repeat(6, auto);
  list-style: none;
  margin: 0;
  padding: 0;
  background: #0005;
  width: 100%;
  border-radius: var(--radius-nm);

  &.is-selecting {
    user-select: none;
  }

  &.empty {
    display: none;
  }

  li {
    display: contents;
    --status-color: var(--color-light);
    color: var(--status-color);

    .row-nav {
      position: absolute;
      left: -100%;
      top: -100%;
      opacity: 0;
      width: 0;
      height: 0;
      padding: 0;
      margin: 0;
      border: 0;
      outline: 0;
      z-index: -1;
    }

    &.header {
      font-weight: bold;

      .list-cell {
        background: transparent;
        color: var(--color-light);
        text-align: left;
        border-radius: 0;
        padding: var(--radius-nm) var(--spacing-nm);
      }

      i {
        transition: rotate 250ms;
        &.descending {
          rotate: 180deg;
        }
      }
    }

    .status i::before {
      white-space: pre;
    }

    &[data-status="Running"] {
      --status-color: #cbffcb;

      .status i::before {
        content: " ";
      }
    }

    &[data-status="Ended"] {
      --status-color: #fff09d;

      .status i::before {
        content: " ";
      }
    }

    &[data-status="TBD"] {
      --status-color: #f3f3f3;

      .status i::before {
        content: " ";
      }
    }

    &[data-status="In Dev"] {
      --status-color: #c5ffff;

      .status i::before {
        content: " ";
      }
    }

    .progress-bar {
      display: flex;
      align-items: center;
      position: relative;
      width: 4em;
      height: 0.5em;
      background: var(--color-light);
      border-radius: var(--radius-nm);

      div {
        position: absolute;
        background: var(--status-color);
        width: var(--percent);
        height: 100%;
        border-radius: var(--radius-nm);
      }

      i {
        position: absolute;
        left: var(--percent);
        text-shadow: 0px 0px 5px var(--color-dark);
        translate: -50% 0;
      }
    }

    .list-cell {
      display: grid;
      align-items: center;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      padding: 0.2em var(--spacing-nm);
      box-shadow: 0 0 1px #555;
      position: relative;

      mark {
        width: fit-content;
        padding: 0 var(--radius-nm);
        border-radius: var(--radius-nm);
        cursor: help;
        aspect-ratio: 1/1;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        right: 0;
        top: 0;
        font-size: 0.7em;
      }

      &:has(mark) {
        border: 2px dashed var(--color-danger-2);
      }

      &:not(.horizontal) {
        grid-template-columns: auto 1fr;
        gap: var(--spacing-nm);
      }

      &.horizontal {
        grid-template-rows: 1fr 1fr;
        font-size: 0.8em;
      }

      strong {
        color: var(--status-color);
      }

      em {
        font-style: normal;
        font-size: 1em;
      }

      &:hover {
        background: #fff4;
      }
    }

    &:not(.header) {
      &:hover .list-cell, &:has(:focus) .list-cell {
        background: #fff4;
      }
    }

    &.selected .list-cell {
      background: #4974;
    }

    &:not(.header).selected {
      &:hover .list-cell, &:has(:focus) .list-cell {
        background: #4c64;
      }
    }
  }
}
