@use "../misc.scss";

.NumberRange {
  position: relative;
  accent-color: var(--color-accent);
  display: flex;
  align-items: center;
  background: var(--color-light-2);
  height: var(--spacing-sm);
  border-radius: var(--radius-nm);

  --_NumberRange-left-color: var(--NumberRange-left-color, var(--color-accent));
  --_NumberRange-right-color: var(--NumberRange-right-color, var(--color-accent));

  &, &::before, &::after {
    transition: background 250ms, color 250ms, opacity 250ms;
  }

  &::before, &::after {
    pointer-events: none;
    opacity: 0.3;
    position: absolute;
    background: inherit;
    padding: var(--spacing-nm);
    border-radius: var(--radius-nm);
    z-index: 2;
    bottom: calc(100% + var(--spacing-md));
  }

  &:hover, &:has(:focus) {
    background: var(--color-light);
    color: var(--color-dark);

    &::before, &::after {
      pointer-events: all;
      opacity: 1;
    }
  }

  &::before {
    content: attr(data-min);
    left: var(--NumberRange-left);
    translate: -50%;
  }

  &::after {
    content: attr(data-max);
    left: calc(100% - var(--NumberRange-right));
    translate: -50%;
  }

  > .progress {
    position: absolute;
    z-index: 0;
    background: linear-gradient(to right, var(--_NumberRange-left-color), var(--_NumberRange-right-color));
    height: 100%;
    border: 0;
    left: var(--NumberRange-left);
    right: var(--NumberRange-right);
    pointer-events: none;
  }

  > .knob {
    position: absolute;
    width: 100%;
    outline: 0;
    height: 2em;

    @include misc.range-track;
    @include misc.range-thumb {
      border: 0;
      width: 1.2em;
      height: 1.2em;
      cursor: pointer;
      background: currentColor;
      transition: box-shadow 250ms, color 250ms, width 250ms;
      position: relative;
    }

    &:focus {
      @include misc.range-thumb {
        box-shadow: 0px 0px 10px 2px currentColor;
      }
    }

    &.min {
      color: var(--_NumberRange-left-color);
    }

    &.max {
      color: var(--_NumberRange-right-color);
    }

    &:hover {
      @include misc.range-thumb {
        width: 1.6em;
      }
    }

    &.focused {
      z-index: 1;
    }
  }
}
