header.search-input {
  position: relative;
  width: 100%;
  font-size: 18px;
  padding: var(--spacing-nm);

  display: grid;
  grid-template-columns: auto auto 1fr;
  color: var(--color-light);
  align-items: center;
  gap: var(--spacing-nm);

  p {
    padding: var(--spacing-nm);
    font-weight: bold;
    color: var(--color-accent);
    margin: 0;
    text-transform: full-width;
  }

  div {
    height: 100%;
    border-right: 2px solid #fff4;
    border-radius: var(--radius-nm);
  }

  label {
    display: flex;
    align-items: center;
    border-radius: var(--radius-nm);
    color: var(--color-light);
    border: 1px dashed transparent;
    padding: var(--spacing-nm) calc(var(--spacing-nm)*1.5);
    gap: var(--spacing-nm);

    transition: background 250ms, color 250ms, padding 250ms, border 250ms;

    i {
      opacity: 0.5;
    }

    &:has(input:focus) {
      color: var(--color-accent);
      padding-inline: 1em;
      border-color: currentColor;
      background: #141414;

      i {
        opacity: 1.0;
      }
    }

    input {
      flex: 1;
      background: transparent;
      border: 0;
      outline: 0;
      color: currentColor;
      border-radius: var(--radius-nm);
      font-size: 18px;
    }
  }

  ul {
    position: absolute;
    top: 100%;
    list-style: none;
    margin: 0;
    padding: var(--spacing-nm);
    background: #0005;
    width: 95%;
    left: 2.5%;

    display: grid;
    grid-template-columns: 1fr auto 1fr 1fr auto;
    gap: 1px;
    border-radius: var(--radius-nm);

    &.empty {
      display: none;
    }

    li {
      display: contents;

      .status i::before {
        white-space: pre;
      }

      &[data-status="Running"] {
        color: #cbffcb;

        .status i::before {
          content: " ";
        }
      }

      &[data-status="Ended"] {
        color: #fff09d;

        .status i::before {
          content: " ";
        }
      }

      &[data-status="TBD"] {
        color: #f3f3f3;

        .status i::before {
          content: " ";
        }
      }

      &[data-status="In Dev"] {
        color: #c5ffff;

        .status i::before {
          content: " ";
        }
      }

      span {
        display: grid;
        grid-template-columns: auto 1fr;
        align-items: center;
        gap: var(--spacing-nm);

        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        padding: 0.2em 0.5em;
        box-shadow: 0 0 1px var(--color-dark);
      }

      &:hover span {
        background: #fff4;
      }

      &.selected span {
        background: #fff6;
      }
    }
  }
}
