@use "./components/Debug.scss";
@use "./components/DatePicker.scss";
@use "./components/DateRange.scss";
@use "./components/Carousel.scss";
@use "./components/Tooltip.scss";
@use "./components/Dialog.scss";
@use "./components/Header.scss";
@use "./components/Search.scss";
@use "./components/Filter.scss";
@use "./components/List.scss";
@use "./misc.scss";
@use "./font.scss";

@include font.load-font(
  "icon",
  $font-type: "woff2",
  $italic: false,
  $replace: (
    100: "Regular", 200: "Regular", 300: "Regular", 400: "Regular",
    500: "Regular", 600: "Regular", 700: "Regular", 800: "Regular", 900: "Regular"
  )
);

@include font.load-font("VictorMono", $font-family: "Victor Mono", $replace: (800: "Bold", 900: "Bold"), $italic: false);

:root {
  --color-bg: linear-gradient(to bottom right, #081010, #2f0f2f, #091111 120%);
  --color-dark: #222;
  --color-light: #ddd;
  --color-accent: #ffd400;
  --color-accent-2: #ffa700;
  --color-danger: #ff7a7a;
  --color-danger-2: #ff4a9a;
  --color-ok: #83cae6;
  --color-ok-2: #83ca86;
  --color-disabled: #a5a5a5;
  --color-disabled-2: #cbcbcb;
  --spacing-nm: 0.5em;
  --radius-nm: 0.3em;

  --button-fg: var(--color-dark);
  --button-bg: var(--color-accent);
  --button-bg-2: var(--color-accent-2);
}

*, *::before, *::after {
  font-family: "Victor Mono", "SF Mono", "Roboto Mono", "Menlo", "Consolas", "Liberation Mono", "Courier New", monospace;
  box-sizing: border-box;
  line-height: normal;

  @include misc.scrollbar(var(--color-accent));
}

*::selection {
  background-color: var(--color-accent);
  color: var(--color-dark);
}

body, :root {
  margin: 0;
  padding: 0;
  font-size: 14px;
  min-height: 100vh;
  background: var(--color-bg);
  background-attachment: fixed;
  color: var(--color-light);
}

main {
  display: grid;
  grid-template-rows: auto 1fr;
}

em {
  font-style: normal;
  font-size: 0.9em;
  font-weight: 300;
  opacity: 0.9;
}

strong {
  font-weight: bold;
}

input {
  margin: 0;

  &.delegated{
    background: transparent;
    border: 0;
    color: currentColor;

    &:focus {
      outline: 1px solid transparent;
    }
  }
}

button, select {
  cursor: pointer;
  padding: var(--spacing-nm);
  border: 0;
  border-radius: var(--radius-nm);
  font-weight: 500;

  &:disabled {
    cursor: not-allowed;
    opacity: 0.8;

    &:active {
      pointer-events: none;
    }
  }

  &.border {
    background: transparent;
    color: var(--button-bg);
    border: 1px solid currentColor;

    &:hover {
      color: var(--button-bg-2);
    }

    &:active, &:focus {
      color: var(--button-fg-2);
    }

    &:disabled {
      color: var(--color-disabled);
    }
  }

  &:not(.border) {
    background: linear-gradient(to top right, var(--button-bg) 1%, var(--button-bg-2));
    color: var(--button-fg);

    &:hover {
      background: var(--button-bg-2);
    }

    &:active, &:focus {
      background: var(--button-bg);
    }

    &:disabled {
      background: linear-gradient(to top right, var(--color-disabled) 1%, var(--color-disabled-2));
    }
  }

  &.transparent {
    background: transparent;
    color: var(--button-bg);

    &:hover {
      background: var(--button-bg);
      color: var(--button-fg);
    }

    &:active, &:focus {
      background: linear-gradient(to top right, var(--button-bg) 1%, var(--button-bg-2));
      color: var(--button-fg);
    }

    &:disabled {
      background: linear-gradient(to top right, var(--color-disabled) 1%, var(--color-disabled-2));
    }
  }
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

i {
  font-family: icon;
  font-style: normal;
}

.divider {
  height: 100%;
  border-right: 2px solid #fff4;
  border-radius: var(--radius-nm);
}

.icon-btn {
  width: 2rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.active-hidden {
  position: absolute;
  left: -100%;
  top: -100%;
  opacity: 0;
  width: 0;
  height: 0;
  padding: 0;
  margin: 0;
  border: 0;
  outline: 0;
  z-index: -1;
}

[data-layer] {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  pointer-events: none;
  z-index: 2;

  &:not([data-layer=tooltips]) > * {
    pointer-events: all;
  }
}
